/*****************************NOTES******************************/
/*
COLORS:
  FAF1E6(blush)
  FDFAF6(light blush)
  E4EFE7(light green)
  064420 (dark green)

TO TRY:
  hover psuedoclass to change style when elements are moused over
*/

/**************************TAG SELECTORS*************************/
body {
  background-color: #FAF1E6;
  font-family: sans-serif;
}
p {
  margin-top: 8px;
  margin-bottom: 8px;
}
hr {
  border-color: white;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width: 7%;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
}
/*************************CLASS SELECTORS************************/
.topcontainer{
  text-align: center;
}

.middlecontainer{
  text-align: center;
}

.bottomcontainer{
  text-align: center;
}

.decorations{
  position: fixed;
  left:0;
  top:0;
}
