/*
COLORS:
  FAF1E6(blush)
  FDFAF6(light blush)
  E4EFE7(light green)
  064420 (dark green)
*/
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  min-width: 320px;
}
#title-section{
  background-color: white;
  color: black;
}
.title-image-column{
  text-align: right;
  padding: 100px;
}
.title-text-column{
  padding: 200px 100px 200px 0px;
}
.name-text{
  font-size: 3rem;
  font-weight: 700;
  text-align: left;
}
.tagline-text{
  font-size: 1.5rem;
  font-weight: 300;
  text-align: left;
}
@media (max-width: 1028px) {  /*When viewport is <=1028px wide */
  .title-image-column{
    text-align: left;
  }
  .title-text-column{
    padding: 10px 100px;
  }
}
#skills-experience-section{
  background-color: #E4EFE7;
  padding: 7% 15%;
  text-align: left;
}
.section-heading{
  font-weight: 700;
}
#footer {
  padding: 10px 0px;
}
