<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sono">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>

<div class="content profile-header">

    <div class="profile-header-image">
        <img src="assets/maria.png" class="profile-photo" />
    </div>

    <div class="profile-header-text">

      <h1 class="big-title">Hi! I'm Maria</h1>
      <h2>A full stack software developer</h2>

      <p> 
        I'm a natural leader who enjoys building teams and working together to create great software.
        I'm passionate about sustainability and conservation, so I always look for ways to increase efficiency 
        and reduce environmental impact with software.
      </p>

    </div>
    
</div>

<div class="content">

  <!--Skills-->
  <h1>Skills</h1>
  <mat-chip-set role="list">
    <mat-chip role="listitem"> C# </mat-chip>
    <mat-chip role="listitem"> .NET Framework </mat-chip>
    <mat-chip role="listitem"> .NET Core </mat-chip>
    <mat-chip role="listitem"> SQL Server </mat-chip>
    <mat-chip role="listitem"> PowerShell </mat-chip>
    <mat-chip role="listitem"> MS Build </mat-chip>
    <mat-chip role="listitem"> Angular </mat-chip>
    <mat-chip role="listitem"> HTML/CSS </mat-chip>
    <mat-chip role="listitem"> REST API </mat-chip>
  </mat-chip-set>
  <mat-chip-set role="list">
    <mat-chip role="listitem"> Git </mat-chip>
    <mat-chip role="listitem"> Github </mat-chip>
    <mat-chip role="listitem"> Azure DevOps </mat-chip>
    <mat-chip role="listitem"> Bitbucket </mat-chip>
    <mat-chip role="listitem"> Git Branch Strategy </mat-chip>
    <mat-chip role="listitem"> Code Reviews & Merges </mat-chip>
  </mat-chip-set>
  <mat-chip-set role="list">
    <mat-chip role="listitem"> Software Team Leadership </mat-chip>
    <mat-chip role="listitem"> Certified Agile Scrum Master </mat-chip>
    <mat-chip role="listitem"> JIRA </mat-chip>
  </mat-chip-set>
  <mat-chip-set role="list">
    <mat-chip role="listitem"> Windows Administration </mat-chip>
    <mat-chip role="listitem"> Network Troubleshooting </mat-chip>
    <mat-chip role="listitem"> Active Directory </mat-chip>
    <mat-chip role="listitem"> Kerberos </mat-chip>
  </mat-chip-set>

</div>

<div class="content">

  <!--Experience-->
  <h1>Experience</h1>

  <h3>3M - Senior Digital Shop Floor Software Engineer (T3)</h3>
  <p>02/2020 - Current</p>
  <br>
  <h3>3M - Advanced Smart Manufacturing Systems Engineer (T2)</h3>
  <p>04/2017 - 01/2020 (2yr 9mo)</p>
  <br>
  <h3>3M - SCADA Systems Engineer (T1)</h3>
  <p>06/2015 - 03/2017 (1yr 9mo)</p>

</div>

<div class="content">

  <!--Education-->
  <h1>Education</h1>

  <h3>Michigan Technological University</h3>
  <p>05/2015 - BS Electrical Engineering & BS Computer Engineering - 3.97 GPA</p>

</div>

<footer>

</footer>