<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sono">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>

<div class="main content">

  <div class="section row profile-header">

      <div class="column profile-header-image">
          <img src="assets/maria.png" />
      </div>

      <div class="column profile-header-text">

        <h1 class="big-title">Maria Damiani</h1>
        <h2>Senior Level Full Stack Software Developer</h2>

        <p> 
          Over 8 years experience in software engineering and team leadership.
          Proven track record of designing, building, and maintaining critical software in a global manufacturing environment.
          Adept at designing user-friendly, stable, and maintainable solutions to difficult problems.
        </p>

        <div class="social-media-link-container">
          <a mat-icon-button color="basic" href="https://www.linkedin.com/in/maria-damiani-dev" target="_blank" rel="noopener noreferrer">
            <ng-icon name="bootstrapLinkedin"></ng-icon>
          </a>
          <a mat-icon-button color="basic" href="https://github.com/mariadamiani" target="_blank" rel="noopener noreferrer">
            <ng-icon name="bootstrapGithub"></ng-icon>
          </a>
          <a mat-icon-button color="basic" href="mailto:maria.damiani1@gmail.com" target="_blank" rel="noopener noreferrer">
            <mat-icon>email</mat-icon>
          </a>
        </div>

      </div>
      
  </div>

  <div class="section">

    <!--Skills-->
    <h1>Skills</h1>
    <mat-chip-set role="list">
      <mat-chip role="listitem"> C# </mat-chip>
      <mat-chip role="listitem"> .NET Framework </mat-chip>
      <mat-chip role="listitem"> .NET Core </mat-chip>
      <mat-chip role="listitem"> SQL Server </mat-chip>
      <mat-chip role="listitem"> PowerShell </mat-chip>
      <mat-chip role="listitem"> MS Build </mat-chip>
      <mat-chip role="listitem"> Angular </mat-chip>
      <mat-chip role="listitem"> Typescript/Javascript </mat-chip>
      <mat-chip role="listitem"> HTML/CSS </mat-chip>
      <mat-chip role="listitem"> REST API </mat-chip>
      <mat-chip role="listitem"> IIS </mat-chip>
      <mat-chip role="listitem"> InnoSetup </mat-chip>
      <mat-chip role="listitem"> Git </mat-chip>
      <mat-chip role="listitem"> Azure DevOps </mat-chip>
      <mat-chip role="listitem"> PLC/HMI </mat-chip>
      <mat-chip role="listitem"> Systems Integration </mat-chip>
      <mat-chip role="listitem"> Manufacturing </mat-chip>
      <mat-chip role="listitem"> Software Team Leadership </mat-chip>
      <mat-chip role="listitem"> Certified Agile Scrum Master </mat-chip>
      <mat-chip role="listitem"> JIRA </mat-chip>
      <mat-chip role="listitem"> Windows Administration </mat-chip>
      <mat-chip role="listitem"> Network Troubleshooting </mat-chip>
    </mat-chip-set>

  </div>

  <div class="section">

    <!--Experience-->
    <h1>Experience</h1>

    <h3>3M - Senior Digital Shop Floor Software Engineer (T3)</h3>
    <p>02/2020 - Current</p>
    <ul>
      <li>Led a team of 5 developers and 3 support engineers to design, develop, test, deploy, support, and maintain a 
          3M proprietary software platform used to monitor and improve manufacturing processes in 3M facilities worldwide</li>
      <li>Utilized knowledge of C#, .NET Framework/Core, REST APIs, SQL, Javascript, Angular, Git, Powershell, MSBuild,
          Windows systems administration, Active Directory, Network Troubleshooting, and Manufacturing</li>
      <li>Coordinated key stakeholders, customers, and team members to understand and prioritize feature
          requests and determine release timelines and scopes.</li>
      <li>Led or contributed to the invention of 4 company Trade Secrets</li>
    </ul>
    <br>
    <h3>3M - Advanced Smart Manufacturing Systems Engineer (T2)</h3>
    <p>04/2017 - 01/2020 (2yr 9mo)</p>
    <ul>
      <li>Developed, tested, and deployed new features for a 3M proprietary software platform used to monitor and improve manufacturing
          processes in 3M facilities worldwide</li>
      <li>Assisted in the hiring and onboarding process for new developers and support engineers</li>
      <li>Developed formal training and technical documentation for end-users, support engineers, and developers of the software</li>
      <li>Provided technical support for end-users, initially as tier 1 and moving up to tier 3</li>
    </ul>
    <br>
    <h3>3M - SCADA Systems Engineer (T1)</h3>
    <p>06/2015 - 03/2017 (1yr 9mo)</p>
    <ul>
      <li>Deployed SCADA systems, minor machine automation, and process controls upgrades to 3M manufacturing processes</li>
      <li>Utilized knowledge of PLC and HMI programming (primarily Allen Bradley), OPC, network troubleshooting, electrical panel design, 
          process historians, Windows systems administration, and manufacturing processes.</li>
    </ul>
    <br>
    <h3>Engineering Internships</h3>
    <p>2011-2015</p>
    <ul>
      <li>3M - Controls Systems Engineer (Intern)</li>
      <li>Johnson Controls - Automotive Electronics Engineer (Intern)</li>
      <li>Detroit Diesel DMR - Electrical Engineer (Intern)</li>
      <li>Minnesota Diversified Industries - Engineer (Intern)</li>
    </ul>

  </div>

  <div class="section">

    <!--Education-->
    <h1>Education</h1>

    <h3>Michigan Technological University</h3>
    <p>05/2015 - BS Electrical Engineering & BS Computer Engineering - 3.97 GPA</p>

  </div>

  <div class="section">

    <!--Bottom Line-->
    <h1>Bottom Line</h1>

    <p>There are many kinds of software developers and many kinds of software development jobs.</p>
    <p>We're both looking for the right fit.</p>
    <br>
    <p>If you're looking for someone with a million certifications who has spent a ton of time optimizing
       their skills specifically for the interview process by doing code drills and riddles, that's not me.</p>
    <br>
    <p>If you're looking for someone with experience leading real teams of people to solve real complex problems,
       someone who knows how to turn vague ideas into actual value, someone who can learn new skills as necessary to meet the challenge - that's me. Let's talk!</p>

  </div>

  <footer>

  </footer>

</div>