<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sono">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>

<div class="main content">

  <div class="section row profile-header">

      <div class="column profile-header-image">
          <img src="assets/maria.png" />
      </div>

      <div class="column profile-header-text">

        <h1 class="big-title">Maria Damiani</h1>
        <h2>Full stack software developer</h2>

        <p> 
          I'm a natural leader who enjoys building teams and creating great software together.
          I'm passionate about sustainability and conservation, so I find ways to increase efficiency 
          and reduce environmental impact using software. 
        </p>

      </div>
      
  </div>

  <div class="section">

    <!--Skills-->
    <h1>Skills</h1>
    <mat-chip-set role="list">
      <mat-chip role="listitem"> C# </mat-chip>
      <mat-chip role="listitem"> .NET Framework </mat-chip>
      <mat-chip role="listitem"> .NET Core </mat-chip>
      <mat-chip role="listitem"> SQL Server </mat-chip>
      <mat-chip role="listitem"> PowerShell </mat-chip>
      <mat-chip role="listitem"> MS Build </mat-chip>
      <mat-chip role="listitem"> Angular </mat-chip>
      <mat-chip role="listitem"> HTML/CSS </mat-chip>
      <mat-chip role="listitem"> REST API </mat-chip>
      <mat-chip role="listitem"> IIS </mat-chip>
      <mat-chip role="listitem"> Git </mat-chip>
      <mat-chip role="listitem"> PLC/HMI </mat-chip>
      <mat-chip role="listitem"> Systems Integration </mat-chip>
      <mat-chip role="listitem"> Manufacturing </mat-chip>
      <mat-chip role="listitem"> Software Team Leadership </mat-chip>
      <mat-chip role="listitem"> Certified Agile Scrum Master </mat-chip>
      <mat-chip role="listitem"> JIRA </mat-chip>
      <mat-chip role="listitem"> Windows Administration </mat-chip>
      <mat-chip role="listitem"> Network Troubleshooting </mat-chip>
    </mat-chip-set>

  </div>

  <div class="section">

    <!--Experience-->
    <h1>Experience</h1>

    <h3>3M - Senior Digital Shop Floor Software Engineer (T3)</h3>
    <p>02/2020 - Current</p>
    <br>
    <h3>3M - Advanced Smart Manufacturing Systems Engineer (T2)</h3>
    <p>04/2017 - 01/2020 (2yr 9mo)</p>
    <br>
    <h3>3M - SCADA Systems Engineer (T1)</h3>
    <p>06/2015 - 03/2017 (1yr 9mo)</p>

  </div>

  <div class="section">

    <!--Education-->
    <h1>Education</h1>

    <h3>Michigan Technological University</h3>
    <p>05/2015 - BS Electrical Engineering & BS Computer Engineering - 3.97 GPA</p>

  </div>

  <footer>

  </footer>

</div>